<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
</head>
<body>

<strong>INDEX</strong><br>
<a href="/">index</a><br>
<a href="/about">about</a><br>

</body>
</html>
