<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
</head>
<body>

<strong>INDEX</strong><br>
<a href="/">index</a><br>
<a href="/enqueue">enqueue random number</a><br>
<a href="/dequeue">dequeue</a><br>
<a href="/dequeueAll">dequeue all</a><br>
<p>{{.Queue}}</p>
<p>List {{.List}}</p>

</body>
</html>
