<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ENQUEUE</title>
</head>
<body>

<strong>ENQUEUE</strong><br>
<a href="/">index</a><br>
<a href="/enqueue">enqueue random number</a><br>
<a href="/dequeue">dequeue</a><br>
<a href="/dequeueAll">dequeue all</a><br>
<form method="POST" action="/enqueue">
    <input type="submit" value="enqueue">
</form>

</body>
</html>
